body{
    padding: 0;
    margin: 0;
    font-family: "Inter", Helvetica, Arial, sans-serif;
}
h2 {
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 2px;
}
.wrapper {
    max-width: 800px;
    margin: 0 auto;
}
#heroSection {
    padding: 74px 12px 0 12px;
}
#hero {
    width: 100%;
    position: absolute;
    height: 183px;
    z-index: -1;
    top: 0;
    left: 0;
    background-size: cover;
}
#logo {
    border-radius: 100%;
    width: 160px;
    height: 160px;
    border: 4px solid #fff;
}
#social-links {
    margin: 24px 0;
}
#updates{
    padding: 12px;
}
.post {
    background: #f9f9f9;
    border-radius: 8px;
    padding: 12px;
    margin-bottom: 24px;
}
.post p{
    font-size: 1.1em;
    margin: 0 0 12px 0;
}
.post span {
    font-weight: bold;
}
a.updates:link, a.action-btn:link, a.updates:visited, a.action-btn:visited {
    display: inline-block;
    background: #000;
    padding: 8px 12px;
    border-radius: 8px;
    color: #fff;
    text-decoration: none;
    margin-right: 8px;
}
a.action-btn:link, a.action-btn:visited {
    font-size: 1.1em;
    padding: 8px 16px;
}
a.updates:hover, a.action-btn:hover {
    background: #2e2e2e;
}
#modal-close {
    display: inline-block;
    background: #ffffff;
    padding: 8px 12px;
    border: #000;
    border-radius: 8px;
    color: #000000;
    text-decoration: none;
    margin-right: 8px;
}

/* Make the dialog’s backdrop dim */
dialog::backdrop {
    background: rgba(0,0,0,0.5);
}

/* Center the content and give it some padding */
#action-modal {
    border: none;
    border-radius: 8px;
    padding: 1.5rem;
    width: 80%;
    max-width: 400px;
    text-align: center;
    box-shadow: 0 4px 16px rgba(0,0,0,0.2);
}
#action-modal menu {
    padding: 0;
    margin: 0;
}
.modal-ad {
    width: 100%;
}